<mat-toolbar class="position-fixed">
    <div class="toolbar-content">
        <div class="logo-container">
            <button mat-icon-button aria-label="Icon to toggle menu" class="mlr-4 sc circle-button" (click)="onToggleMenu()">
                <mat-icon>menu</mat-icon>
            </button>
            <div style="align-self:center">
                <a aria-label="Keep" class="sc" href="#" tabindex="0" title="Keep">
                    <img class="logo" src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png" srcset="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png 1x, https://www.gstatic.com/images/branding/product/2x/keep_2020q4_48dp.png 2x "
                        alt="" aria-hidden="true" style="width:40px;height:40px">
                    <span class="icon-text">Keep</span>
                </a>
            </div>
        </div>
        <div class="search-container-flex">
            <div class="search-bar-container" [ngClass]="{'bg-invert': inputFocus}">
                <div class="search-form">
                    <button mat-icon-button aria-label="Icon to indicate search bar" class="si-left sc search-icon" [ngClass]="{'bg-invert': inputFocus}">
                        <mat-icon>search</mat-icon>
                    </button>
                    <div class="search-input-container">
                        <input class="search-input" [ngClass]="{'text-color-invert': inputFocus}" type="text" [(ngModel)]="value" placeholder="Search" (focusin)="inputFocus = true" (focusout)="inputFocus = false">
                    </div>
                    <button *ngIf="value" mat-icon-button aria-label="Icon to close search" class="si-right sc search-icon" [ngClass]="{'bg-invert': inputFocus}" (click)="clearSearchInput()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
            <div class="search-form-mobile">
                <button mat-icon-button aria-label="Icon to indicate search bar" class="sc search-icon">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
            <div>
                <button mat-icon-button aria-label="Icon to toggle menu" class="sc circle-button">
                    <mat-icon>refresh</mat-icon>
                </button>
                <button mat-icon-button aria-label="Icon to toggle menu" class="sc circle-button view-agenda">
                    <mat-icon>view_agenda</mat-icon>
                </button>
                <button mat-icon-button aria-label="Icon to toggle menu" class="sc circle-button">
                    <mat-icon>settings</mat-icon>
                </button>
            </div>
        </div>
        <div class="user-actions-flex">
            <button mat-icon-button aria-label="Icon to close search" class="sc circle-button">
                <mat-icon>apps</mat-icon>
            </button>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>person</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar>