<mat-toolbar class="position-fixed">
    <button mat-icon-button aria-label="Icon to toggle menu" class="sc circle-button">
        <mat-icon>menu</mat-icon>
    </button>
    <div>
        <a aria-label="Keep" class="sc" href="#" tabindex="0" title="Keep">
            <img class="logo" src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png" srcset="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png 1x, https://www.gstatic.com/images/branding/product/2x/keep_2020q4_48dp.png 2x "
                alt="" aria-hidden="true" style="width:40px;height:40px">
            <span class="icon-text">Keep</span>
        </a>
    </div>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>person</mat-icon>
    </button>
</mat-toolbar>