/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #202124;
}

.example-spacer {
    flex: 1 1 auto;
}

.full-width {
    width: 100%;
}

.showItem {
    opacity: 0;
    transition: opacity 0.5s linear;
}

.sc {
    color: rgba(255, 255, 255, 0.87);
}


/* material styles */

.mlr-4 {
    margin: 0 4px !important;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 16px;
}

body::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .3);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    -webkit-box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
    box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(235, 234, 235);
}